/Tehtava2/out/
/Tehtava1/out/
/Tehtava3/out/
/Tehtava3/out/production/Tehtava3/abstrakti/
/Tehtava3/src/abstrakti/
Tehtava5/.idea
Tehtava4/.idea
Tehtava3/.idea
Tehtava2/.idea
Tehtava1/.idea
Tehtava7/.idea
Tehtava6/.idea
Tehtava4/out/production/Tehtava4
Tehtava5/out/production/Tehtava5
Tehtava6/out/production/Tehtava6
Tehtava7/out/production/Tehtava7
.idea
