.idea
/Tehtava1/out/
/Tehtava2/out/
/Tehtava3/out/
/Tehtava3/out/production/Tehtava3/abstrakti/
/Tehtava3/src/abstrakti/
/Tehtava4/out/production/Tehtava4
/Tehtava5/out/production/Tehtava5
/Tehtava6/out/production/Tehtava6
/Tehtava7/out/production/Tehtava7
/Tehtava8/out/production/Tehtava8
/Tehtava9/out/production/Tehtava9
/Tehtava1/.idea
/Tehtava2/.idea
/Tehtava3/.idea
/Tehtava4/.idea
/Tehtava5/.idea
/Tehtava6/.idea
/Tehtava7/.idea
/Tehtava8/.idea
/Tehtava9/.idea
