/Tehtava2/out/
/Tehtava1/out/
/Tehtava3/out/
/Tehtava3/out/production/Tehtava3/abstrakti/
/Tehtava3/src/abstrakti/
Tehtava5/.idea
Tehtava4/out/production/Tehtava4
Tehtava4/.idea
Tehtava3/.idea
.idea
